/* General Styling */
.blog-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .blog-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .article__image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  /* Blog Description Styling */
  .blog-description {
    flex: 1;
  }
  
  .blog-sub-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .blog-date, .author {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 17px;
    color: #555;
  }
  
  .author span {
    font-weight: bold;
  }
  
  .blog_section_details {
    margin-top: 20px;
    font-size: 24px;
  }
  
  .blog_section_details ul {
    list-style: disc;
    padding-left: 20px;
  }
  
  .blog_section_details h2 {
    margin-bottom: 10px;
    font-size: 2rem;
  }
  
  /* Section with Brown Background */
  .text {
    background-color: #E3BC9A;
    color: #fff;
    text-align: center;
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 20px;
  }
  
  .text h2 {
    font-size: 2rem;
  }
  
  .text p {
    font-size: 1.2rem;
  }
  
  /* Image in Brown Section */
  .text img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
  }
  
  /* FAQ Section Styling */
  .FAQ_section {
    margin-top: 30px;
  }
  
  .FAQ_section h2 {
    font-size: 1.75rem;
    margin-bottom: 15px;
  }
  
  .accordion-item {
    border: none;
    margin-bottom: 10px;
  }
  
  .accordion-header .accordion-button {
    background-color: #f8f9fa;
    font-size: 16px;
  }
  
  .accordion-body {
    font-size: 14px;
    color: #555;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .blog-content {
      flex-direction: column;

    }
    .blog_section_details{
      height: 45vh;
      overflow: scroll;
      /* border: 1px solid black; */
    }
  
    .blog-description {
      margin-top: 20px;
    }
  
    .text {
      margin-top: 20px;
      padding: 20px;
      height: 60vh;
    }
    .text img{
      display: none;
    }
  
    .text h2 {
      font-size: 1.75rem;
    }
  
    .text p {
      font-size: 1rem;
    }
  }
  
  .alert{
    width: 100%;
    height: 45vh;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    /* overflow: scroll; */
    font-weight: 500;
  }
  /* .alert .txt{
    font-size: 1rem;
  } */