
@media(min-width:300px){
.main-cover{
  height: 65vh;
  width: 70%;
  position: absolute;
  left: -5px;
  margin-top: 20px;

}
}  

.main-cover {
  width: 60%;
  height: 60vh;
  margin-left: 20%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/ben-1.jpg'); 
  background-size: cover; 
  background-position: center; 
  text-align: center;
  color: black; 
  padding: 20px;
  object-fit: contain;
  border-radius: 50%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
    
  }
  .lead{
    font-weight: 500;
    width: 70%;
  }
  .main-cover:hover{
    transform: translate(0, -10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.904);
  }

.main-cover h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.main-cover p.lead {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.main-cover .btn {
  padding: 10px 20px;
}
@media(max-width: 786px) {
  .main-cover {
    width: 90%; 
    height: 60vh; 
    margin-left: 5%; 
    border-radius: 50%; 
  }

  .main-cover h1 {
    font-size: 0.8rem; 
  }

  .main-cover p.lead {
    font-size: 0.8rem;
  }
}