.navbar{
    background-color: #80461B;
    box-shadow: 0px 4px 4px 4px rgba(22,3,4,0.3);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 95px;
}
.container a{
    color: white;
    font-weight: 400;
    font-size: 20px;
}
.offcanvas{
    background-color: #80461B;
}
.logo img{
    height: 90px;
    width: 90px;
    object-fit: contain;
    border-radius: 50%;
    position: absolute;
    top: 0.2rem;
    margin-left: 3rem;
}
@media(max-width:780px){
    .logo img{
        height: 70px;
        width: 70px;
        object-fit: contain;
        border-radius: 50%;
        position: absolute;
        top: 0.8rem;
        margin-left: 1rem;
    }
    #offcanvas {
      width: 40%; 
    }
}


/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  } */
  
  
  /* Responsive Styles */

.nav-link {
  position: relative;
  text-decoration: none;
  color: inherit; 
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px; 
  bottom: -2px;
  left: 0;
  background-color: black; 
  transition: width 0.3s ease; 
}

.nav-link:hover::after {
  width: 100%; 
}

@media(max-width:786px){
  .Contact_Us{
    margin-left: 1px;
  }
}
